/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global Styles */
:root {
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray6: #f2f2f2;
  --blue: #2d9cdb;
  --darkBlue: #100e1d;
  --white: #ffffff;
  --black: #000000;
  --green: #27ae60;
  --red: #eb5757;
}

body {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray1);
}

/* ------ Mobile Styles ----- */
.wrapper {
  max-width: 90vw;
  margin: 12px auto 24px auto;
}

main {
  /* width: 95%; */
}
/* Navigation */

.logo {
  font-family: Heebo;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.hero {
  width: 100%;
  height: 145px;
  object-fit: cover;
  border-radius: 18px;
  margin-top: 15px;
  margin-bottom: 22px;
  margin-right: 15px;
}

.menu-icons {
  position: absolute;
  right: 5vw;
  top: 5vw;
  color: var(--black);
  z-index: 10;
}
.menu-icons:nth-child(2) {
  color: var(--white);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--darkBlue);
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style: none;
  padding: 20px;
}

.navigation li a {
  color: var(--white);
  text-decoration: none;
}

/* Hero Page */
.tagline {
  margin-top: 48px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blue);
}

.hero-main_heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-secondary-heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}

.hero-secondary_heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-main_description {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 33px;
  color: var(--gray2);
}

.hero-secondary_description {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray3);
  margin-top: 30px;
}

.ctc {
  background: var(--gray6);
  color: var(--gray4);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.ctc-email {
  margin-left: 20px;
}
.ctc-join_btn {
  width: 71px;
  height: 39px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-wrapper {
  margin-left: 30px;
  margin-right: 40px;
}

/* Services Page */
.service-page {
  margin-top: 50px;
}

.services-list {
  display: flex;
  flex-direction: column;
}

.service-heading {
  margin-top: 100px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 80px;
}

.service {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 42px 34px;
}

.service:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.service:hover .hover_btn {
  background-color: var(--blue);
  color: var(--white);
}

.service-icon {
  background-color: var(--blue);
  height: 67px;
  width: 67px;
  font-size: 200%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.service-icon2 {
  background-color: var(--green);
}
.service-icon3 {
  background-color: var(--red);
}

/* .service-icon:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
} */

.service-name {
  margin-top: 36px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.service-description {
  margin-top: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.getstarted-btn {
  margin-top: 30px;
  background-color: #e0e0e0;
  color: var(--gray3);
  border-radius: 12px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 120px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio page */

.portfolio-header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray1);
}

.portfolio {
  margin-bottom: 36px;
}
.portfolio-list {
  margin-top: 48px;
}

.portfolio-img-container {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.portfolio-img {
  width: 100%;
  border-radius: 12px;
}
.portfolio-type {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray3);
}
.portfolio-name {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray1);
}

.see-more {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blue);
}

/* Teams Page */
.team-page {
  margin-top: 100px;
}

.team-page-meet {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--red);
}

.team-page-heading {
  margin-top: 7px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray1);
}

.team-page-desc {
  color: var(--gray2);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 70%;
}

.team-gallery {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.team-img-container {
  width: 90%;
}
.team-member-img {
  width: 100%;
  border-radius: 24px;
}

.team-member-img-1 {
  margin-left: 10px;
}
.team-member-img-2 {
  margin-left: 10px;
}

/* testimonial-page */
.testimonial-page {
  margin-top: 100px;
}

.testimonial-heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.testimonial-user {
  margin-top: 24px;
  display: flex;
}

.testimonial-user-imgcontainer {
  width: 82px;
  height: 82px;
  border-radius: 12px;
}
.testimonial-user-img {
  width: 100%;
  border-radius: 12px;
}

.testimonial-user-details {
  margin-left: 30px;
}

.testimonial-user-name {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.testimonial-user-company {
  margin-top: 12px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray3);
}

footer {
  margin-top: 100px;
  background-color: var(--darkBlue);
  width: 100vw;
  padding: 36px 40px 24px 0px;
}

.footer-navlink {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
}

.footer-social {
  margin-top: 64px;
}

.footer-name {
  font-family: Heebo;
  font-size: 36px;
  font-weight: 800;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
}

svg {
  margin-right: 10px;
}

.footer-contact {
  margin-top: 65px;
}

.ctc {
  width: 80%;
}

.footer-ctc {
  margin-bottom: 150px;
}

.credit-link {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  color: var(--gray4);
  text-align: center;
}

/* ---- Desktop Styles ----- */
@media screen and (min-width: 1000px) {
  .wrapper {
    max-width: 90%;
  }

  /* Navbar - Desktop */
  .logo {
    font-family: Heebo;
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 52px;
    position: relative;
    bottom: 25px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    position: static;
    width: 100%;
    height: 100%;
    background: var(--white);
    /* color: var(--gray1); */
    z-index: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
  }

  .navigation li a {
    color: var(--gray1);
  }

  .tagline {
    margin-top: 96px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero-main_heading {
    margin-top: 16px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    width: 45%;
  }

  .hero {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 354px;
    border-radius: 18px;
  }

  .hero-secondary_heading {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    width: 30%;
  }
  .hero-main_description {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 30%;
    margin-top: 42px;
  }

  .hero-secondary_description {
    margin-top: 42px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ctc {
    margin-top: 10px;
    width: 30%;
  }

  .side-wrapper-desk {
    margin-left: 125px;
    margin-right: 125px;
  }

  /* service page - Desktop */
  .service-page {
    margin-top: 200px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
  }

  .services-list {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
    width: auto;
    height: fit-content;
    overflow: auto;
  }

  .service {
    padding: 40px 20px;
    width: 33%;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .portfolio-page {
    margin-top: 200px;
  }

  .portfolio-heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    width: 40%;
  }

  .portfolio-list {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }

  .portfolio-2,
  .portfolio-4 {
    position: relative;
    bottom: 100px;
  }

  .portfolio-type {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  .portfolio-name {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  /* Team page */
  .team-page-meet {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }

  .team-page-heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    width: 50%;
    margin-top: 7px;
    margin-bottom: 14px;
  }

  .team-page-desc {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .team-page {
    display: flex;
    align-items: center;
  }
  .team-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50px;
  }

  .team-img-container {
    text-align: right;
  }

  .team-member-img-3 {
    width: 70%;
  }
  .team-member-img-1,
  .team-member-img-2 {
    width: 120%;
  }

  /* testimonial page */
  .testimonial-heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
  }
  .testimonial-user {
    margin-top: 36px;
    margin-bottom: 130px;
    width: 70%;
  }

  /* footer */
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-navlinks {
    width: 20%;
  }
  .footer-social {
    width: 30%;
  }
  .contact-us {
    width: 30%;
  }
  .hero-secondary_description {
    margin-top: 0;
  }
  .footer-ctc {
    width: 100%;
  }
  .footer-social {
    margin-top: 0;
  }
}

/* misc */
.hidden {
  display: none;
}
